@model IEnumerable<SubResults>

<h2>Results</h2>

<table class="table">
    <tr>
        <th>Time</th>
        <th>Series</th>
        <th>Event</th>
        <th>Category</th>
        <th>Track</th>
        <th>SOF</th>
        <th>Session</th>
    </tr>

    @foreach (var result in Model.Reverse())
    {
        <tr>            
            <td>@result.StartTime</td>
            <td>@result.SeriesName</td>
            <td>@result.EventTypeName</td>
            <td>@result.LicenseCategory</td>
            <td>@result.TrackName</td>
            <td>@result.StrengthOfField</td>
            <td><a href=/Results/ViewFullResults/@result.SessionId>@result.SessionId</a></td>
        </tr>
    }
</table>