@model Ratings

@{
    ViewData["Title"] = "About Me";
}

<body>
    <div class="row text-white justify-content-end" >
        <div>
            <h2 style="color: #E6FF1F">Current Ratings:</h2>
        </div>
        <div class="col-md-1">
            <h2>Oval</h2>
            <p>@Model.OvalLicense @Model.OvalSafetyRating @Model.OvaliRating</p>
        </div>
        <div class="col-md-1">
            <h2>Road</h2>
            <p>@Model.RoadLicense @Model.RoadSafetyRating @Model.RoadiRating</p>
        </div>
        <div class="col-md-1">
            <h2>Dirt Oval</h2>
            <p>@Model.DirtOvalLicense @Model.DirtOvalSafetyRating @Model.DirtOvaliRating</p>
        </div>
        <div class="col-md-1">
            <h2>Dirt Road</h2>
            <p>@Model.DirtRoadLicense @Model.DirtRoadSafetyRating @Model.DirtRoadiRating</p>
        </div>
    </div>
    
    <div class="text-center text-white" style="background-color: rgba(41,43,44, 0.94) !important">
        <h1>About Me</h1>
        <p>
            Hello! Welcome to totallyBSsimracing! My name is Billy, and I am an avid motorsport and sim racing fan. 
        </p>
        <p>
            The main purpose of this website is to display my sim racing results from iRacing in a public fashion. You see, iRacing, a sim racing PC game, is 
            a membership only game. All of my race results are visable to me and the other members of iRacing, but non-members are unable to view those race 
            results. I thought it would be a fun idea to grab all of my results from iRacing's API to display for the world!  
        </p>
        <p>
            I've created a seperate console app to collect all of the data. The app runs every 30 minutes with the help of Windows Task Scheduler to collect 
            and store all of the data into a local database. You can check it out 
            <a style="color: #E6FF1F" href=https://github.com/Supersagee/TestingiRacingAPI target="_blank">here!</a>
        </p>
        <p>
            Also, I am growing in my skills and knowledge as a software developer, and this project helps me along the way in my growth.
        </p>
        <h1>Contact</h1>
        <p>
            The best way to contact me is at: <a style="color: #E6FF1F" href = "mailto: williamdsage@gmail.com">williamdsage@gmail.com</a>
        </p>
        <p>
            Check out my other projects on <a style="color: #E6FF1F" href=https://github.com/Supersagee target="_blank">GitHub</a>
        </p>
    </div>
</body>